html {
  font-size: 10px;
  scroll-behavior: smooth;

}
* {
  box-sizing: border-box;
}
img{
  max-width: 100%
}


h1{
  font-size: 2rem;
  font-family: 'Poiret One', cursive;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom:2rem;
  line-height: 2rem;
}
h3{
  font-size:1.5rem;
  font-family: 'Poiret One', cursive;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom:2rem;
  line-height: 2rem;

}
 p.p {
  text-align: center;

}
h3.u{
  margin-left: 3rem;
}


h3.n{
  text-align: center;
}
header{

  justify-content: center;
  padding-top: 10%;
  text-align: center;
  width:100%;
}

header.a{
  border-bottom: none;
}


footer {
  background-color: #F6E1E6;
   width: 100%;
   right: 0;
   left: 0;
   bottom: 0;
   color: black;
   padding-top: 3rem;
}


p {

  font-size: 1.6rem;
  line-height: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  max-width: 1000px;
}

p.b{
  padding-top: 3rem;
}
p.cr{
  font-size: 1rem;
}
p.foot{
  font size:1rem;
}
h1.indexwork{
  width:100%;
  margin:0;
  font-size: 1.6rem;
  padding-top: 2rem;
  padding-bottom:0rem;

}

ul.a {
  margin-left:2rem;

  font-size: 1.6rem;
  line-height: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
}

li.a{
  background: url('/images/bullet.png') no-repeat left top;
  padding-left:3rem;
}

/*sections*/



.about-content1{

  max-width: 800px;
}
.aboutheader{
  text-align: center;
  padding-top: 5rem;

}

.brandingimages{
  display: flex;
  flex-wrap: wrap;
text-align: center;


}
.brand{
  width:45%;
  padding:2rem;





}

 .problem-solution, .competitive-analysis, .user-research, .user-personas, .user-stories, .user-flows, .user-flows-button, .wireframes, .usablitiytest1, .branding, .branding-images, .prototypes, .user-testing2, .conclusion, .about-content, .persona12, .stats{

  padding-top: 3rem;
  padding-bottom:3rem;
  text-align: center;

}

.cards {
  /* Add shadows to create the "card" effect */

  transition: 0.3s;

  border:.2rem solid #F6E1E6;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem;
  margin:2rem;

  display: inline-block;
  line-height: 2.5rem;
}
.chart{
  height:50%;
  width:50%;
  margin: 0 auto;
}


.contact-logos{
  margin-right: 3rem;
}
.content-project{
  padding-top: 5rem;

}

.copyrightinfo{

text-align: left;





}

.design-roles{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.indexheader{
  line-height: 3rem;
}

.indexlogo{
  position: relative;
}
.intro{
  padding-top: 3rem;
}
.leafpic{
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo2{
display: flex;
  justify-content: space-between;
  padding-left:  4rem;
  padding-right: 4rem;



}
.nav{
  padding:2rem;
}
.persona12{
  display:flex;
  flex-wrap: wrap;

}

.problem, .solution, .comp-an, .comp-an2, .comp-an3, .us-re, .us-per, .us-sto, .us-flo, .us-flo2, .wf, .ut1, .bran, .proto, .ut2, .con, .about-content1, .user-persona-1, .user-persona-2, .stats1{
display: inline-block;
  text-align: left;
}
.projectheader{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: .2rem solid #F6E1E6;
}
.prototypes{
  padding-bottom: 3rem;
  padding-top: 3rem;

}





.role{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding-top: 0;
  margin-top:0;
  margin-bottom: 0;
  padding-bottom:0;
  line-height: 3rem;
}
.sweethomelogo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.userflowpic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.user-personas{
  padding-top: 3rem;
}
.user-persona-1, .user-persona-2{
  border:.2rem solid #F6E1E6;
  width:100%;
  padding-left: 2rem;
  margin:2rem;
  padding-bottom:2rem;



}


.us-icons{
  display: flex;
  justify-content: space-between;
}

.user-testing, .user-testing2{

  padding-top:3rem;

}
.usertesting-save, .usertesting-explore{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:3rem;
}
.wireframe-images {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2rem;


}
.problem-solution, .user-research, .user-stories, .wireframes, .branding, .wireframe-images, .user-testing2,.usertesting-explore, .brandingimages, .chart{
  background-color:#F8F8F8;
}




/*buttons dropdowns*/
.arrow {

  box-sizing: border-box;
  height: 2vw;
  width: 2vw;
  border-style: solid;
  border-color: #F4C6D1;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}


.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;

}


.button, .buttonb {
  background-color: #F6E1E6;
  border: none;
  color: black;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-top:3rem;
}

.button:hover, .buttonb:hover {background-color: #FFC6D0}

.button:active, .buttonb:active {
  background-color: #FFC6D0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




/* header */

.navigation {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  height:6rem;
  z-index: 3;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navigation li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color:black;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;



}

.navigation li a:hover,
.navigation .menu-btn:hover {
  background-color: #f4f4f4;
}

.navigation .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.logo{
  width:70%;
}

/* menu */

.navigation .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navigation .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navigation .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navigation .menu-icon .navicon:before {
  top: 5px;
}

.navigation .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navigation .menu-btn {
  display: none;
}

.navigation .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navigation .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navigation .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .navigation li {
    float: left;
  }
  .navigation li a {
    padding: 20px 30px;
  }
  .navigation .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navigation .menu-icon {
    display: none;
  }
}




/*images*/

.contact-logo{

  width:3rem;
  margin-right:1.5rem;
  float: right;

}


.container > * {
  flex: 1 1 auto;
}
.explore{
  padding-bottom: 2rem;
}

.footerlogo2{
width:4rem;
height:4rem;
margin-left: 3rem;

}
.graph{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:2rem;
  padding-bottom: 2rem;
}
.headshot1{
  width:100%;


}

.hshimage {
  display: block;

  padding: 3rem;
}

.icon {
  margin-right: 5rem;
  height:10rem;
  width:8rem;
  align-self: flex-end;
}
.icon2{
  height: 10rem;
  width: 10rem;
}
.landingpage1, .landingpage2, .landingpage3, .search1, .search2, .search3{


  width:85%;
  margin: 2rem;
  box-shadow: 0 0 5px #f6f5f3;



}

.leaf{
  width: 40%;
  height:8%;
}

.leahcoover{
  justify-content: center;
  width: 65%;
  height:28%;
  padding-bottom: 1rem;
  border-bottom: solid #f6f5f3;
  border-width:thin;
}

.leahcoover2{
  width:35%;
  display: flex;
  align-self: flex-start;
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin-left: 60%;

}


.logo{
  width:20rem;
}

.logoimage2{
  height: 5rem;
  width: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.persona1, .persona2{
  width:25%;
  height:auto;
  display: block;
    margin-left: auto;
    margin-right: auto;

}



.save, .save2, .explore{
  width:100%;
  height:50%;

  box-shadow: 0 0 5px #f6f5f3;

}
.styleguide{
  width: 60%;
  height:50%;
  margin:3%;


}
.swlogo{
  padding-top:3rem;
  width:30%;
  height:30%;

}

.userflowpic{
  width:75%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.us-icons{
  display: flex;
  justify-content: space-around;
  max-width: 50%;
  margin-left: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.vine{
  width:40%;
  margin:0 auto;


}
.wireframe-sketch, .wireframe1, .wireframe2, .wireframe3{
  width:70%;
  height:40%;
  margin:2rem;

  box-shadow: 0 0 5px #f6f5f3;




}



@media only screen and (min-width: 600px) {
  h1{
    font-size: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 3rem;
  }
  h1.indexheader{
    line-height: 5rem;
  }

h3{
  font-size: 2rem;
}
  p{
    font-size: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: 700px;
  }
}



/*for desktop*/
@media screen and (min-width: 900px) {
  h1{
    font-size: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 3rem;
  }
  h1.indexheader{
    line-height: 5rem;
  }
  h3.u{
    margin-left: 5rem;
  }

  header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:60%;
    height:30%;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: none;
  }


  p{
    font-size: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: 700px;
  }
  p.cr{
    font-size: 1.2rem;
  }
ul.a{
  margin-left: 4rem;
}

  /*sections*/

  .brandingimages{
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  justify-content: center;


  }
  .brand{
    width:30%;
    padding:3%;



  }
  .button, .buttonb{
    margin-left: 5rem;
  }
  .cards{
    width:30%;
    margin: 1%;
  }
  .chart{
    height:400px;
    width:400px;
    margin: 0 auto;
  }
  .content, .content-project {
    display: inline-flex;
    align-items: center;


  }


  .content1, .content2 {
    width: 40%;
    border: none;

  }




  .design-roles{
    display:inline-flex;
    width:100%;

  }

  .explore{
    width:48%;
  }

  .hshimage{
    border:none;

  }
  .projectheader{
    border-bottom: .5rem solid #F6E1E6;
    width:100%;
  }
  .role{
    width: 60%;
  }
.persona12{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

  .user-persona-1, .user-persona-2{

    width:40%;
    padding: 1.5rem;

  }
  .wireframe-images, .usertesting-save, {
    justify-content: center;
  }



  /*images*/

  .explore{
    border: solid #f6f5f3;
    border-width: thin;
    width:40%;
  }


  .hshimage1 {
    width: 60%;
    height:100%;



  }
  .indexlogo{
    position:relative;
  }

  .landingpage1, .landingpage2, .landingpage3, .search1, .search2, .search3{
    box-shadow: 0 0 5px #f6f5f3;
    width:30%;
    margin:1%;
    vertical-align: top;
  }

  .logo{
    width:22rem;
  }
  .logohsh{
    width:40%;
    height:20%;
  }
  .persona1, .persona2{
    width:25%;
    height:auto;
    display: block;
      margin-left: auto;
      margin-right: auto;

  }

  .save, .explore{
    width:45%;
    border: solid #f6f5f3;
    border-width: thin;
    margin:1%;
  }
  .wireframe-sketch, .wireframe1, .wireframe2, .wireframe3{
    width:45%;
    height:30%;
    margin:1%;







  }
